
<app-editer></app-editer>

<div class="table-responsive">
    <table class="table table-hover">
      <tbody>
        <tr>
          <td><a class="nav-link" routerLink="/addpoll">Add New Poll</a></td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/deletepoll">Delete Existing Poll</a></td>
          </tr>
          <tr>
            <td><a class="nav-link" href="/addnews">Add New News</a></td>
          </tr>
          <tr>
            <td><a class="nav-link" routerLink="/uploadnews">Upload Added News</a></td>
          </tr>
          <tr>
            <td><a class="nav-link" routerLink="/deletenews">Delete Or Unupload (uploaded) news</a></td>
          </tr>
          <tr>
            <td><a class="nav-link" routerLink="/addcategory">Add New Category</a></td>
          </tr>
      </tbody>
    </table>
  </div>