<app-writer></app-writer>

<div style="position: fixed;top: 65%;left:50%;  transform: translate(-50%, -50%);" >
<legend style="text-align: center;">Change password</legend>

<div class="form-group">
  <label for="">Email</label>
  <input required="required" [(ngModel)]="email" style="width: 300px;" type="email" class="form-control" name="email"  id="" placeholder="123465">
</div>

<div class="form-group">
  <label for="password">new password</label>
  <input required="required" [(ngModel)]="password" style="width: 300px;"  type="password" class="form-control" name="password" id="" placeholder="xyz@gmail.com">
</div>

<div class="form-group">
  <label for="password">conform  password</label>
  <input [(ngModel)]="cpassword" required="required" type="password" class="form-control" id="cpassword" name="cpassword">
</div>
<button type="button" class="btn btn-primary "(click)="changepassword()" >Submit</button>

<br>
<span style="color: red;">{{msg}}</span>
<!-- <a *ngIf="flag" style="color: blue;"  (click)="navigate()" >{{msg}} <br> Goto login page  </a> -->
</div>


