
<div style="position: fixed;top: 30%;left:50%;  transform: translate(-50%, -50%);">
  <form  #myForm="ngForm" (ngSubmit)="getotp(myForm.value)" role="form">
    <legend>Enter registered email</legend>
  
    <div class="form-group">
      <label for="email">Email</label>
      <input ngModel style="width: 300px;" type="text" class="form-control" name="email" id="email" placeholder="xyz@mail.com" required="required">
    </div>
  
    <button type="submit" class="btn btn-primary">Get OTP</button>
  
   <!-- <div style="color:red;">{{msg}}</div> -->
  
  
  </form>
  
  </div>